@import url('./variables.css');

/* altering baseline variables */
:root {
    --paper-1: var(--gray-10);
    --paper-2: var(--gray-9);
    --paper-3: var(--gray-7);

    --ink-1: var(--gray-0);
    --ink-2: var(--gray-2);
    --ink-3: var(--gray-3);
}

/* adding some global CSS */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

* {
    font-family: var(--font-body);
}

h1 {
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

p {
    font-size: var(--font-size-base);
}

::selection {
    background: var(--dotnet-purple);
    color: var(--purple-1);
}

/* change colors for light theme  */
@media (prefers-color-scheme: light) {
    /* TODO: this */
}

/* compoisition & layout classes */

.flow {
    display: flex;
    flex-direction: column;
    gap: var(--flow);
}

.flow-centre {
    display: flex;
    flex-direction: column;
    gap: var(--flow);
    align-items: center;
    justify-content: center;
}

/* utility classes */
.bg-highlight {
    background: var(--dotnet-purple);
    color: var(--ink-1);
}

.bg-primary {
    background: var(--paper-1);
    color: var(--ink-1);
}

/* block & component classes */
.site-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
    width: 100%;
    min-height: 100vh;
    background: var(--paper-1);
    color: var(--ink-1);
}

.wrapper {
    padding: var(--size-5);
}

@supports (min-height: 100dvh) {
    .site-wrapper {
        min-height: 100dvh;
    }
}

.prose-block {

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: var(--size-5) 0 var(--size-3);
    }

    p {
        margin: var(--size-3) 0;
    }
}

.site-header {
    position: relative;
    min-height: 40vh;
    padding: var(--size-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    > :is(h1, p) {
        z-index: 3;
        max-width: 60ch;
        text-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    >p {
        font-size: var(--font-size-md);
    }

    /* gradient */
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:
            radial-gradient(ellipse at center, rgba(80, 39, 213, 0.88), rgba(80, 39, 213, 1));
        z-index: 2;
        border-radius: var(--size-5);
    }

    /* dotnet grid */
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/dotnet-logo.svg');
        background-attachment: fixed;
        background-size: 64px 64px;
        background-repeat: repeat;
        z-index: 1;
        animation: scale-up-fade;
        animation-timeline: view();
        animation-range: exit;
        transform-origin: center;
        border-radius: var(--size-5);
    }
}

.site-footer {
    padding: var(--size-8) var(--size-2);
    color: var(--ink-1);
}

/* exception classes, animations, and extras */
@keyframes scale-up-fade {
    to {
        scale: 0.9;
        opacity: 0.1;
    }
}